# TP2 : Pandas
Idéalement j'aurais voulu trouver un jeu de données brutes et faire des travaux pratiques d'exploration, nettoyage et préparation de données. Mais ça aurait été laborieux dans le cadre d'un TP avec peu de temps.

## 1. Échauffement
Une simple exploration de la liste des participants.  
Objectif : créer un petit DataFrame à partir d'un fichier csv et faire quelques comptages et visualisations simples.

Au préalable j'ai créé un jeu de données nettoyé de la liste des participants à l'EMA que l'on peut trouver là : http://ema.cri-info.cm/index.php/liste-des-participants/. C'est le fichier `../data/liste_participants_clean.csv`. C'est un très petit jeu de données sans valeurs numériques.

### 1.1 Importer les modules pandas, matplotlib.pyplot et seaborn avec les conventions habituelles de renommage

In [1]:
# votre réponse

In [3]:
# commade magique pour que les graphiques s'affichent dans le notebook
%matplotlib inline

### 1.2 Créer un DataFrame Pandas `participants` à partir du fichier `liste_participants_clean.csv`

In [4]:
# votre réponse

### 1.3 Affichier les premières lignes et le nombre de participants

In [6]:
# votre réponse

Posons-nous des questions et essayons d'y répondre en interrogeant les données avec pandas :   
- Les participants proviennent d'universités de quels pays ? Combien de pays représentés ?  
- Combien de participants par pays ? Faire une visualisation.  
- Compter le nombre de d'étudiants par niveau d'étude, faire une visualisation. 

(_Remarques sur les bases de données et le langage de requêtes SQL_)

### 1.4 Pays

In [8]:
# votre réponse

In [10]:
# visualisation, votre solution :

### 1.5 Niveaux d'études

In [13]:
# votre solution

In [15]:
# visualisation, votre réponse

In [17]:
# Posez-vous d'autres questions et essayer d'y répondre

---
## 2. Exercice avec le jeu de données des prénoms américains

Tiré d'un example du livre _Python for Data Analysis_ de Wes McKinney (O'Reilly's).  
Nous allons explorer le jeu de données publiques des prénoms donnés à la naissance aux USA depuis 1880 (jusqu'à 2018)  
Le jeu de données original se trouve là : https://www.ssa.gov/oact/babynames/names.zip, mais il est déjà téléchargé et décompressé dans ce dépot et se trouve dans le répertoire `data/names/`.

### 2.1 Premier contact
Avec le navigateur de fichier de votre système ou celui de Jupyter inspecter le répertoire `data/names/`, lire la documentation (fichier pdf) et ouvrir un des fichier `txt`.   

À l'aide de la fonction `read_csv` de Pandas, lire le fichier `yob1880.txt` et définir la variable de type DataFrame `names1880`. Définissez les noms des colonnes par: 'name', 'gender' et 'births'.   
Afficher les premières lignes. Vous devez obtenir :
```
        name gender  births
0       Mary      F    7065
1       Anna      F    2604
2       Emma      F    2003
3  Elizabeth      F    1939
4     Minnie      F    1746
```

In [18]:
# votre réponse

### 2.2 Aggrégation
Comptez le nombre de naissances de genre masculin et féminin respectivement. Vous pouvez utiliser une solution  "pédestre" ou la méthode `groupby` s'appliquant au DataFrame.

In [20]:
# votre réponse

### 2.3 Concaténation
Jusqu'ici nous n'avons lu qu'un seul fichier correspondant aux noms de 1880. Maintenant nous voulons lire les données pour toutes les années et les regrouper dans un seul DataFrame.

#### 2.3.1 Écrire une fonction qui prend pour argument une année (int) et retourne un DataFrame des données correspondantes.
Comme ci-dessus mais ajoutez en plus la colonne 'year' au DataFrame.

In [182]:
# votre réponse
def load_year(year):
    """Retourne un DataFrame des noms avec les colonnes 'name', 'gender', 'births' et 'year'."""
    # complétez...
    return

#### 2.3.2 Construire une liste de DataFrame pour chaque année (utiliser une `list comprehension` ou une boucle ainsi que la fonction ci-dessus) puis utiliser la fonction `concat` de Pandas pour créer un seul DataFrame `names` à partir de cette liste.
Les années sont toutes représentées de 1880 à 2018 inclus.

In [110]:
# votre réponse

Afficher les premières lignes et le nombre de lignes. Vous devez trouver 1957046 lignes

In [37]:
# votre solution

#### 2.3.3 Nombre de naissances par année
En utilisant à nouveau `groupby` faire un graphique du nombre de naissances par année. Faire une interprétation du graphique à l'aune de vos connaissances historiques.

In [40]:
# votre solution

#### 2.3.4 Nombre de prénoms distincts donnés par année
Faire un graphique du nombre de prénoms distincs donnés par année

In [117]:
# votre solution

#### 2.3.5 Évolution des noms, utilisations des tables pivot
Certains noms ont changé de genre majoritaire. Explorons par exemple _Allison_ ou _Alison_.  
la méthode `pivot_table` permet d'aggréger des données selon plusieurs dimensions à la fois.

In [45]:
names_to_check = ['Allison', 'Alison']

2.3.5.1 Filtrer les lignes de `names` pour ne garder que celles correspondant à Allison ou Alison. Vous pourrez utiliser la méthode `isin`.

In [41]:
# votre solution

In [47]:
births.head()

         name gender  births  year
1753  Allison      M       6  1880
1532  Allison      M       9  1881
1679  Allison      M       9  1882
1582  Allison      M      12  1883
1940  Allison      M       7  1884

2.3.5.2 Avec la méthode `pivot_table` construire un DataFrame comptabilisant le nombre de naissances d'Allison et Alison pour chaque années (lignes) et pour chacun des genre F et M (colonnes).   

La méthode `DataFrame.pivot_table` prends les arguments suivants :
- `values`=_nom de la colonne des valeurs à aggréger_ (le nombre de naissances),      
- `index=`_nom de la colonne dont les valeurs serviront d'aggrégateur par ligne_ (les années de naissance),     
- `columns=`_nom de la colonne dont les valeurs serviront d'aggrégateur par colonne_ (le genre),   
- `aggfunc=`_nom de la fonction d'aggrégation_, 
- `fill_value`=_valeurs remplaçant les valeurs manquantes

In [48]:
# votre solution

In [50]:
births.head()

gender  F   M
year
1880    0   6
1881    0   9
1882    0   9
1883    0  12
1884    0   7

In [52]:
# normalisation
births = births.div(births.sum(axis=1), axis=0)

In [53]:
births.head()

gender    F    M
year
1880    0.0  1.0
1881    0.0  1.0
1882    0.0  1.0
1883    0.0  1.0
1884    0.0  1.0

2.3.5.3 Afficher un graphique de la fréquence des Allison et Alison par année et pour chacun des genres F et M

In [56]:
# votre solution